<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Mobile Authorisations</title>
  <link rel="stylesheet" href="/static/mobile/css/authorisations.css">
</head>
<body>
  <div class="mobile-container">
    <h2><span id="username-placeholder"></span>, please review the orders below which are waiting for you to authorise:</h2>
    <div class="order-headers">
      <span>Date</span>
      <span>Order #</span>
      <span>Total</span>
      <span>Actions</span>
    </div>
    <div id="order-list">Loading orders...</div>
  </div>

  <script type="module" src="/static/mobile/js/authorisations_screen/main.js"></script>
</body>
</html>
