<div class="tab-nav">
  <a href="/home">Home</a>
  <a href="/requisitions/new">New Requisition</a>
  <a href="/requisitions/pending_requisitions">Pending Requisitions</a>
  <a href="/orders/new">New Order</a>
  <a href="/orders/pending_orders">Pending Orders</a>
  <a href="/orders/received_orders">Received Orders</a>
  <a href="/orders/partially_delivered">Partially Delivered Orders</a>
  <a href="/orders/authorisations_per_user">My Authorisations</a>
  <a href="/orders/cod_orders">COD Orders</a>
  <a href="/orders/audit_trail">Audit Trail</a>
  <a href="/maintenance">Maintenance</a>
  <a href="/logout">Logout</a>
  
</div>
