<div class="tab-buttons">
  <button onclick="location.href='/home'">Home</button>
  <button onclick="location.href='/requisitions/new'">New Requisition</button>
  <button onclick="location.href='/requisitions/pending_requisitions'">Pending Requisitions</button>
  <button onclick="location.href='/orders/new'">New Order</button>
  <button onclick="location.href='/orders/pending_orders'">Pending Orders</button>
  <button onclick="location.href='/orders/received_orders'">Received Orders</button>
  <button onclick="location.href='/orders/partially_delivered'">Partially Delivered Orders</button>
  <button onclick="location.href='/orders/audit_trail'">Audit Trail</button>
  <button onclick="location.href='/orders/authorisations_per_user'">My Authorisations</button>
  <button onclick="location.href='/orders/cod_orders'">COD Orders</button>
  <button onclick="location.href='/maintenance'">Maintenance</button>
  <button onclick="location.href='/logout'">Logout</button>
  
</div>
